version: '2'
services:
  subreddit1:
    image: fwump38/docker-submissionbot:1.0.0
    environment:
      CLIENT_ID: zzzzzzzz
      CLIENT_SECRET: zzzzzzzz
      SUBREDDIT: subreddit1
      WEBHOOK: https://hooks.slack.com/services/ABCDEF/GHIJKL/MNOPQRS
    stdin_open: true
    tty: true
  subreddit2:
    image: fwump38/docker-submissionbot:1.0.0
    environment:
      CLIENT_ID: zzzzzzzz
      CLIENT_SECRET: zzzzzzzz
      SUBREDDIT: subreddit2
      WEBHOOK: https://hooks.slack.com/services/ABCDEF/GHIJKL/MNOPQRS
    stdin_open: true
    tty: true